<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantillas</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{pagina.titulo}">Control Consumidor</h1>
        </header>
        <footer th:fragment="footer">
            <div>
                </br>
                <a th:href="@{/(lang=es)}">ES</a> -
                <a th:href="@{/(lang=en)}">EN</a> -
                <span> [[#{pagina.footer}]] <a href="https://github.com/luisHidalgo-git">luisHidalgo-git</a></span>
                <form method="POST" th:action="@{/logout}">
                    <a href="#" onclick="this.parentNode.submit();">Salida</a>
                </form>
            </div>
        </footer>
    </body>
</html>
