<h1>Inicio</h1>
<a th:href="@{/anexar}">Agregar</a>
<div th:if="${individuos != null and !individuos.isEmpty()}">
    <table border="2">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Edad</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="individuo : ${individuos}">
            <td th:text="${individuo.nombre}"></td>
            <td th:text="${individuo.apellido}"></td>
            <td th:text="${individuo.correo}"></td>
            <td th:text="${individuo.telefono}"></td>
            <td th:text="${individuo.edad}"></td>
            <td><a th:href="@{/cambiar/} + ${individuo.id_individuo}" th:text="Cambiar"></a></td>
            <td><a th:href="@{/borrar/} + ${individuo.id_individuo}" th:text="Borrar"></a></td>
        </tr>
    </table>
</div>
<div th:if="${individuos == null or individuos.isEmpty()}">
    La lista no tiene Registros
</div>